
body{
    display: grid;
    gap: 1em;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:8% 5% auto 10% 16% 16%;
    height: 100vh;
    margin:0px;
    border:solid antiquewhite;
    grid-template-areas: 
    "b1 b1 b1 b1"
    "b7 b7 b7 b7"
    "b3 b3 b3 b3"
    "b2 b5 b5 b5"
    "b4 b6 b6 b6"
    "b8 b8 b8 b8"
     
     ;
}
  .b1{
    grid-area:b1;
    background-color:rgb(209, 204, 204);
       
  }
  .b2{
    grid-area:b2;
    background-color:silver;
     
  }
  .b3{
    grid-area:b3;
    background-color:rgb(202, 202, 29);
    
    
  }
.face{
    
}
  
  .b4{
    grid-area:b4;
    background-color:magenta;
  }
  
  .b5{
    grid-area:b5;
    background-color:skyblue;
  }
  
  .b6{
    grid-area:b6;
    background-color:rgb(86, 201, 195);
  }
  
  .b7{
    grid-area:b7;
    background-color:rgb(155, 180, 66);
  }
  
  .b8{
    grid-area:b8;
    background-color:rgb(165, 73, 145);
  }

  .b8 p{
    text-align: center;
    font-size: small;
  }