.container{
    display: grid;
    gap: 5px;
    /*grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;*/
    height: 180vh;
    margin: 0px;
    border:solid antiquewhite;
    grid-template-areas: 
      "b1 b1 b1 b1   b1 b1 b1 b1   b1 b1 b1 b1"
      "b3 b3 b3 b3   b3 b3 b3 b3   b3 b3 b3 b3"
      "b3 b3 b3 b3   b3 b3 b3 b3   b3 b3 b3 b3"
      "b3 b3 b3 b3   b3 b3 b3 b3   b3 b3 b3 b3"
      "b3 b3 b3 b3   b3 b3 b3 b3   b3 b3 b3 b3"
      "b2 b2 b2 b2   b5 b5 b5 b5   b5 b5 b5 b5"
      "b2 b2 b2 b2   b5 b5 b5 b5   b5 b5 b5 b5"
      "b4 b4 b4 b4   b6 b6 b6 b6   b6 b6 b6 b6"
      "b4 b4 b4 b4   b6 b6 b6 b6   b6 b6 b6 b6"
      "b4 b4 b4 b4   b7 b7 b7 b7   b7 b7 b7 b7"
      "b4 b4 b4 b4   b7 b7 b7 b7   b7 b7 b7 b7"
      "b8 b8 b8 b8   b8 b8 b8 b8   b8 b8 b8 b8"
     
     
     ;
}
  .b1{
    grid-area:b1;
    background-color:rgb(209, 204, 204);    
  }
  .b2{
    grid-area:b2;
    background-color:silver;
  }
  .b3{
    grid-area:b3;
    background-color:beige;
    
    
  }
.face{
    
}
  
  .b4{
    grid-area:b4;
    background-color:magenta;
  }
  
  .b5{
    grid-area:b5;
    background-color:skyblue;
  }
  
  .b6{
    grid-area:b6;
    background-color:rgb(86, 201, 195);
  }
  
  .b7{
    grid-area:b7;
    background-color:rgb(155, 180, 66);
  }
  
  .b8{
    grid-area:b8;
    background-color:rgb(165, 73, 145);
  }

  .b8 p{
    text-align: center;
    font-size: small;
  }